/* .profile-page-container {
  width: 100%;
  height: 100%;
  position: relative;
  color: white;

  background-color: black;
  overflow-y:auto;
} */

/* .page-img {
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;

  filter: brightness(var(--brightness)); 
} */

.title-section {
  width: 100%;
  height: 15%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

}

.title-cart-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: fit-content;
  height: fit-content;

  gap: 10px;
  font-family: OL;

  font-size: 0.7cqw;
}

.title-cart-section h3 {
  width: min-content;
  color: white;

  margin-bottom: 0px;
  margin-top: 0px;
}

.title-cart-section h1 {
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
}

.test-embed {
  height: 1.5em;
  width: 1.5em;
  vertical-align: middle;
  padding-bottom: 0.2em;

  aspect-ratio: 1/1;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
}




.divider {
  width: 99%;
  height: 3px;
  background-color: white;
  margin: 10px 0px;
}

.list-item-container{
  width: 99%;
  height: 35%;

  white-space: nowrap;

  display: flex;
  gap: 2%;
  flex-direction: row;
  justify-content: space-between;
  color: white;

  font-family: OL;
}


/* profile picture stuff */
.profile-picture-container {
  height: 100%;
  flex: 0.5;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  
  font-size: 1cqw;
}

.profile-picture-box {
  height: 80%;
}

.child-container2 {
  height: 100%;
  aspect-ratio: 1/1;
  border: solid 1px var(--borderColour);
  box-sizing: border-box;
}

.img-full-style {
  width: 100%;
  height: 100%;
}

.profile-picture-name-box {
  height: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* outpost pic and shields */
.outpost-pic-container {
  height: 100%;
  flex: 1;
}

.outpost-pic-box {
  height: 80%;
  border: solid 1px var(--borderColour);
  box-sizing: border-box;
}

.outpost-pic {
  border-radius: 2px;
  height: 100%;
  width: 100%;
}

.child-img {
  width: 100%;
  height: 100%;
}

.shields-container {
  height: 20%;
  display: flex;
  flex-direction: row;
}

.shield-box {
  width: 60%;
}

.shields-grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2%;
}

/* data container */


.parent-container {
  height: 100%;
  flex: 1.5;
}

.parent-container h4 {
  flex: 1;
  text-align: center;
}

.row-data-container {
  height: 33%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
