.settings-page-container {
  width: 100%;
  height: 100%;

  background-image: url("Page_Bg/SETTINGS_PAGE_BG.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.settings-option-hover{
  background-color: none;
  transition: background-color 0.3s ease;
}

.settings-option-hover:hover{
  background-color: grey;
}